.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  min-height: calc(114vh - 88px);
  background-size: 100% 100%;
  background-color: #b09378;
}
.todo {
  width: 700px;
  height: 700px;
  padding: 100px;
  border-radius: 20px;
  opacity: 0.9;
  border: solid black 2px;
  background-color: #ffd6af;
}

.button {
  position: absolute;
  top: 150px;
  left: 1000px;
  background-color: #ddb892;
  padding: 10px;

  border: solid black 3px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
.error {
  color: rgb(242, 0, 0);
  position: relative;
  top: 40px;
  right: 190px;
  font-weight: 700;
}

.name {
  position: absolute;
  display: flex;
}
.namelabel {
  position: relative;
  left: 100px;
  bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.health {
  position: absolute;
  display: flex;
  left: 1000px;
}

.healthlabel {
  position: relative;
  left: 140px;
  bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.dish {
  position: absolute;
  display: flex;
  left: 1020px;
  bottom: 660px;
}

.dishlabel {
  position: relative;
  left: 140px;
  bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.summary {
  position: absolute;
  display: flex;
  bottom: 450px;
  left: 620px;
}

.summarylabel {
  position: relative;
  left: 170px;
  bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.steps {
  position: absolute;
  display: flex;
  bottom: 450px;
  left: 1050px;
}

.stepslabel {
  position: relative;
  left: 170px;
  bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.image {
  position: absolute;
  display: flex;
  bottom: 660px;
}
.imagelabel {
  position: relative;
  left: 100px;
  bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.dietas {
  position: absolute;
  display: flex;
  bottom: 50px;
  left: 1000px;
}
.create {
  position: absolute;
  display: flex;
  bottom: 90px;
  left: 1050px;
  padding: 15px;
  border-radius: 15px;
  background-color: #ddb892;
  padding: 10px;

  border: solid black 3px;

  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.errorsumary {
  color: rgb(244, 10, 10);
  font-weight: 700;
  position: relative;
  top: 150px;
  right: 250px;
}

.errorsteps {
  color: rgb(252, 11, 11);
  font-weight: 700;
  position: relative;
  top: 150px;
  right: 250px;
}

.dietas {
  position: absolute;
  padding: 0%;

  height: 50px;
  bottom: 300px;
  left: 950px;
}

.dietaslabel {
  position: relative;
  left: 60px;
  bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.diets {
  display: flex;
  position: relative;
  top: 100px;
  right: 450px;
}

.e {
  border-radius: 15px;
  border: solid 3px rgb(1, 1, 1);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 700;
}

.input {
  padding: 10px;
  border-radius: 15px;
}
