.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  min-height: calc(114vh - 88px);
  background-size: 100% 100%;
}
.todo {
  width: 700px;
  height: 700px;
  padding: 100px;
  border-radius: 20px;
  opacity: 0.9;
  border: solid black 2px;
}
.error {
  color: rgb(129, 129, 129);
  position: relative;
  top: 50px;
  right: 160px;
}

.name {
  position: absolute;
  display: flex;
}
.namelabel {
  position: relative;
  left: 100px;
  bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.health {
  position: absolute;
  display: flex;
  left: 1000px;
}

.healthlabel {
  position: relative;
  left: 140px;
  bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.dish {
  position: absolute;
  display: flex;
  left: 1020px;
  bottom: 690px;
}

.dishlabel {
  position: relative;
  left: 140px;
  bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.summary {
  position: absolute;
  display: flex;
  bottom: 450px;
  left: 620px;
}

.summarylabel {
  position: relative;
  left: 170px;
  bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.steps {
  position: absolute;
  display: flex;
  bottom: 450px;
  left: 1050px;
}

.stepslabel {
  position: relative;
  left: 170px;
  bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.image {
  position: absolute;
  display: flex;
  bottom: 690px;
}
.imagelabel {
  position: relative;
  left: 100px;
  bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.dietas {
  position: absolute;
  display: flex;
  bottom: 50px;
  left: 1000px;
}
.create {
  position: absolute;
  display: flex;
  bottom: 90px;
  left: 1050px;
  padding: 15px;
  border-radius: 15px;
}

.errorsumary {
  color: black;
  font-weight: 700;
  position: relative;
  top: 150px;
  right: 250px;
}

.errorsteps {
  color: black;
  font-weight: 700;
  position: relative;
  top: 150px;
  right: 250px;
}

.dietas {
  position: absolute;
  padding: 0%;

  height: 50px;
  bottom: 300px;
  left: 950px;
}

.dietaslabel {
  position: relative;
  left: 60px;
  bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.diets {
  display: flex;
  position: relative;
  top: 100px;
  right: 450px;
}

.e {
  border: solid 2px black;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
}
