.container {
  padding: 15px;
}

.input {
  padding: 10px;
  border-radius: 15px;
  border: solid black 3px;
  margin-right: 15px;
}

.buscar {
  padding: 10px;
  border-radius: 15px;
  border: solid black 3px;
  margin-right: 15px;
  background-color: bisque;
  font-weight: 700;
  cursor: pointer;
}

.buscar:hover {
  background-color: rgb(255, 191, 108);
  transition: all 0.5s ease;
}

.cargar {
  padding: 10px;
  border-radius: 15px;
  border: solid black 3px;
  background-color: bisque;
  font-weight: 700;
  cursor: pointer;
}

.cargar:hover {
  background-color: rgb(255, 191, 108);
  transition: all 0.5s ease;
}
