.container {
  background-color: #b08968;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  font-weight: bold;
}

.food {
  font-size: 30px;
  font-weight: 700;
  border: solid black 2px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  background-color: #f5caa8;
}

.crear {
  font-size: 20px;
  font-weight: 700;
  border: solid black 2px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  background-color: #f5caa8;
}

.crear:hover {
  background-color: #70675f;
  transition: all 0.5s ease;
}
